apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: system
  namespace: argocd
spec:
  project: system
  sources:
  - repoURL: 'git@github.com:pirish/cluster-base.git'
    targetRevision: HEAD
    path: additional_manifests/system
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true